
.header {
    font-family: 'Times New Roman', Times, serif;
    background-color: crimson;
    text-align: center;
}

.body {
    font-family: ABeeZee;
    font-size: large;
}

.menu {
    background-color: tomato;
    text-align: center;
}

.div {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin: 0;
  }