
.header {
    font-family: 'Times New Roman', Times, serif;
    background-color: crimson;
    text-align: center;
}

.body {
    font-family:'ABeeZee';
    font-size: large;
}

.menu {
    background-color: tomato;
    text-align: center;
}

.coloumncurang{
    float: left;
    padding: 10px;
    height: 100px;
}

.coloumncoklat{
    float: left;
    padding: 10px;
    height: 100px;
}

.coloumndonut{
    float: left;
    padding: 10px;
    height: 100px;
}

.coloumnkurma{
    float: left;
    padding: 10px;
    height: 100px;
}
.div {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin: 0;
  }

.footer {
    text-align: center;
}