
.header {
    font-family: 'Times New Roman', Times, serif;
    background: crimson;
    text-align: center;
}

.body {
    font-family:'ABeeZee';
    font-size: large;
    width: auto;
    height: auto;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin: 0;
}

.menu {
    background: tomato;
    text-align: center;
}

.img{
    padding: 10px;
    width: 100px;
    height: 100px;
}

.footer {
    text-align: center;
}